apiVersion: v1
kind: Service
metadata:
  name: service-discover
  labels:
    app: service-discover
spec:
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: 8080
      protocol: TCP
      name: http
  selector:
    app: service-discover
